.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.logoLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  font-size: 4.2rem;
  font-weight: bold;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
}

.logoLink:hover {
  filter: brightness(80%);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
